@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Electrolize&display=swap");

:root {
  --specialColor: #ec1af3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100vh;
}
body {
  font-family: "Electrolize", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: linear-gradient(
    to bottom right,
    hsl(207, 17%, 26%),
    hsl(210, 17%, 10%)
  );
  color: white;
  margin: 180px 400px;
}

a {
  color: #333;
  text-decoration: none;
}

button, /* clear default styling on buttons and inputs*/
input {
  display: inline-block;
  border: none;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  background: #00000000;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus,
input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.mailContainer {
  box-shadow: 8px 8px 5px 0px #1d1f25;
  background: linear-gradient(
    20deg,
    hsl(208, 21%, 13%) 10%,
    hsl(208, 17%, 12%) 10%,
    hsl(210, 17%, 12%) 80%,
    hsl(210, 21%, 13%) 80%,
    hsl(208, 21%, 13%) 10%,
    hsl(208, 21%, 13%) 10%
  );
  width: 100%;
  padding: 100px 50px;
  position: relative;
}

.mail-x {
  position: absolute;
  top: 0;
  right: 5px;
}
.mail-x button:hover,
.mail-x button:focus {
  color: var(--specialColor);
  transition: 0.3s;
}

.mail-title {
  margin-bottom: 40px;
  font-family: "Montserrat Subrayada", Arial, Helvetica, sans-serif;
}

.mail-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  padding-right: 20px;
}

.mail-input {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.mail-input input {
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 10px 20px 10px 20px;
  margin: 0;
  text-decoration: none;
  background: #00000000;
  width: 100%;
}

.mail-input__inputBox {
  border: 1px var(--specialColor) solid;
}

.mail-input button {
  min-width: 180px;
  font-size: 1vw;
  background: linear-gradient(90deg, var(--specialColor), #8f38e0, #7218d8);
}
.mail-input button:hover {
  color: #998ea5;
  transition: 0.5s;
}

.mail-input button:active {
  color: white;
  scale: 1.1;
  transition: 0.2s;
}

/* ================================================ */

@media only screen and (min-width: 2200px) {
  body {
    margin: 200px 800px;
  }
  .mail-input button {
    min-width: 0px;
    font-size: 18px;
  }
}

/* ================================================ */

@media only screen and (max-width: 1224px) {
  body {
    margin: 200px 200px;
  }
  .mail-title {
    margin-bottom: 40px;
    padding-right: 50px;
  }
  .mail-text {
    padding-right: 50px;
  }
  .mail-input button {
    font-size: 14px;
  }
}

/* ================================================ */

@media only screen and (max-width: 1024px) {
  body {
    margin: 200px 50px;
  }
  .mail-input {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
  }
}

/* ================================================ */

@media only screen and (max-width: 554px) {
  body {
    margin: 50px 20px;
  }
  .mailContainer {
    padding: 15px;
    box-shadow: none;
  }
  .mail-title {
    margin-bottom: 40px;
    padding-right: 0px;
  }
  .mail-text {
    padding-right: 0px;
  }
  .mail-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px;
  }
}
